.dashboard {
  min-height: calc(100vh - 26vmin);
  padding: 8vmin;
  font-family: "Comfortaa", "Quicksand", sans-serif;
}

@media (max-width: 991.98px) {
  .dashboard > .page-row {
    flex-direction: column;
  }
}

.dash-day {
  flex: 0 1 60%;
}

.card-head {
  margin-top: 0;
  margin-bottom: 3vmin;
  font-size: 3vmin;
  font-family: "Quicksand", sans-serif;
}

.card-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-row {
  flex: 1;
  display: flex;
  padding: 0 1.2vmin;
  margin-bottom: .6vmin;
}

.row-text {
  flex: 0 1 20%;
}

.table-row.striped {
  background-color: #F0F0F0;
}

.table-row.current {
  font-weight: 600;
  font-size: 2.2vmin;
}

.table-row.row-hover:hover {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
}

.table-col {
  align-items: center;
  font-size: 2vmin;
  display: flex;
  flex: 1;
}

.first-col {
  flex: 0 1 25%;
}

.col-small {
  font-size: 2vmin;
  font-weight: 400;
  margin-top: .4vmin;
}

.col-medium {
  font-size: 4vmin;
  font-weight: 400;
  margin-top: .6vmin;
}

.col-large {
  font-size: 4vmin;
  font-weight: 600;
  margin-top: .8vmin;
}

.col-xlarge {
  font-size: 8vmin;
  font-weight: 800;
  margin-top: 1vmin;
}

.col-text {
  text-align: center;
}

.table-head > .table-col {
  font-size: 2.8vmin;
  font-weight: 800;
  font-family: "Quicksand", "Comfortaa", sans-serif;
}

.table-legend > .table-col {
  font-size: 1.6vmin;
  align-items: flex-end;
  justify-content: flex-end;
}