.help {
  height: 74vmin;
  padding: 8vmin 24vmin;
  display: flex;
  font-family: "Comfortaa", "Quicksand", sans-serif;
}

.help-row {
  display: flex;
  flex: 1;
}

.help-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.help-card {
  height: 100%;
  display: flex;
  margin: 2vmin;
  padding: 3vmin;
  border-radius: 2vmin;
  flex-direction: column;
  background-color: #F5F5F5;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
}
