html, body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", "sans-serif";
}

.content {
  position: relative;
}

.content::after {
  content: "";
  background-size: 50%;
  background-attachment: scroll;
  background-position-y: center;
  background-image: url("../../img/svg/logo.svg");
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.divide {
  margin: .4vmin 0 1vmin;
  border: thin solid #000000;
}

#load {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  opacity: .75;
  background-color: #FFFFFF;
}

#load-img {
  flex: 1;
  display: flex;
  -webkit-transition: -webkit-animation;
  transition: animation;
}

#load-img > svg {
  width: 20vmin;
  height: 20vmin;
  -webkit-animation: 2s infinite spin linear;
  animation: 2s infinite spin linear;
}

.page {
  display: flex;
}

.page-row {
  display: flex;
  flex: 1;
}

.page-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-card {
  height: 100%;
  display: flex;
  margin: 2vmin;
  padding: 3vmin;
  border-radius: 2vmin;
  flex-direction: column;
  background-color: #F5F5F5;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
}