@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand.woff2') format('woff2'), url('Quicksand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.woff2') format('woff2'), url('OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('Comfortaa.woff2') format('woff2'), url('Comfortaa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}